{% embed '@craft-components/navbar/navbar.twig' %}
    {% block navbarMobileHeaderContent %}
        <a href="/" class="navbar__desktop-content-logo" style="background-image: url({{ entry.logo.one().url }})"></a>
        {{ parent() }}
    {% endblock %}
    {% block navbarMobileContentBefore %}
        <div class="navbar__mobile-content-link">
            <a href="/" class="navbar__mobile-content-link-title">Home</a>
        </div>
        <div class="navbar__mobile-content-link">
            <a href="/about" class="navbar__mobile-content-link-title">About</a>
            <ul class="navbar__mobile-content-link-dropdown">
                {% set allAbout = craft.entries().section('About').all %}
                {% for about in allAbout %}
                    {% if about.parent == 'About' %}
                        <li class="navbar__mobile-content-link-dropdown-element">
                            &#11208;<a class="navbar__mobile-content-link-dropdown-element-link" href="/about/{{ about.title }}">{{ about.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
{#    {% block navbarMobileContentAfter %}#}
{#        <div style=" height: 100px; background-color: yellow;"><h4>Beispiel inhalt mobile</h4></div>#}
{#        <div style=" height: 100px; background-color: yellow;"><h4>Beispiel inhalt mobile</h4></div>#}

{#    {% endblock %}#}
    {% block desktopContent %}
        <a href="/" class="navbar__desktop-content-logo" style="background-image: url({{ entry.logo.one().url }})"></a>
        <ul class="navbar__desktop-content-links">
            <li class="navbar__desktop-content-link">
                <a href="https://accounts.spotify.com/en/login" class="navbar__desktop-content-link-title" target="_blank">Login</a>
                <span class="navbar__desktop-content-cursor">&#9602;</span>
            </li>
            <li class="navbar__desktop-content-link">
                <a href="/" class="navbar__desktop-content-link-title">Home</a>
                <span class="navbar__desktop-content-cursor">&#9602;</span>
            </li>
            <li class="navbar__desktop-content-link">
                <a href="/about" class="navbar__desktop-content-link-title">About</a>
                <span class="navbar__desktop-content-cursor">&#9602;</span>
                <ul class="navbar__desktop-content-link-dropdown">
                    {% set allAbout = craft.entries().section('About').all %}
                    {% for about in allAbout %}
                        {% if about.parent == 'About' %}
                            <li class="navbar__desktop-content-link-dropdown-element">
                                &#11208;<a class="navbar__desktop-content-link-dropdown-element-link" href="/about/{{ about.title }}">{{ about.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endblock %}
{% endembed %}
